.gradle/
/gradle/
/out/
build/

/*/.gradle/
/*/gradle/
/*/out/
/*/build/

.idea/
/*/build/
/*/classes
/classes
/*/.idea/
/homeworks/HW3/.nb-gradle/
/homeworks/HW2/.nb-gradle/
/homeworks/HW2/out/
/homeworks/HW2/Lab2/.nb-gradle/